<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/Testvagrantproject/src/test/java/com/testvagrant/TestScripts/ValidateForiengPlayersTest.java"><classes><class name="com.testvagrant.TestScripts.ValidateForiengPlayersTest"><methods><include name="testForeigenPlayer"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/Testvagrantproject/src/test/java/com/testvagrant/TestScripts/ValidateWicketKeeperTest.java"><classes><class name="com.testvagrant.TestScripts.ValidateWicketKeeperTest"><methods><include name="validateOneKeeperTest"/></methods></class></classes></test></suite>